{% set title = "Category" %}
{% extends "_layout.html" %}

{% macro category_row(category) %}
<tr>
  <td style="white-space: nowrap;">{{ category.get('category_id') }}</td>
  <td style="white-space: nowrap;">{{ category.get('name') }}</td>
  <td>
    <div class="d-flex">
      <a href="/categories?edit_id={{ category.get('category_id') }}" class="text-sm text-primary mr-2">Edit</a>
      <a href="/categories/delete/{{ category.get('category_id') }}" class="text-sm text-danger">Delete</a>
    </div>
  </td>
</tr>
{% endmacro %}

{% block content %}

  {% if editing %}
    {# EDIT CATEGORY #}
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between py-3">
          <h6 class="m-0 font-weight-bold text-primary">Edit Category</h6>
      </div>
      <div class="card-body">
          <form action="/categories/update/{{ editing.category_id }}" method="post">
            <label for="" class="mb-1">Category name</label>
            <input type="text" class="form-control" value="{{ editing.name }}" name="category" required />
            <button class="btn mt-4 btn-primary">Update Category</button>
          </form> 
      </div>
    </div>

  {% else %}
    {# CREATE CATEGORY #}
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add Category</h6>
        </div>
        <div class="card-body">
            <form action="/categories/create" method="post">
              <label for="" class="mb-1">Category name</label>
              <input type="text" class="form-control" name="category" required />
              <button class="btn mt-4 btn-primary">Add Category</button>
            </form> 
        </div>
    </div>
  {% endif %}



  {# VIEW CATEGORY #}
  <div class="card shadow mb-4">
    <div class="card-header d-flex align-items-center justify-content-between py-3">
      <h6 class="m-0 font-weight-bold text-primary">All Categories</h6>
    </div>
    {% if categories|length %}
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Category ID</th>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Category ID</th>
              <th>Name</th>
              <th></th>
            </tr>
          </tfoot>
          <tbody>
            {# PRINT PLANT ROWS #}
            {% for category in categories %}
              {{ category_row(category) }}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% else %}
    <div class="text-center py-5 ">
      <img src="/static/svgs/empty.svg" width="100" class="mx-auto img-fluid mb-4" />
      <p class="text-muted text-center mb-1">No category available</p>
    </div>
    {% endif %}
  </div>
  {% endblock %}

  {% block scripts %}
      <!-- Page level plugins -->
      <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
      <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <script>
    $(document).ready(function() {
      $('#dataTable').DataTable();
    });
    
    const uploadForm = document.querySelector("[data-upload-form]")
    const uploadBtn = document.querySelector("#upload-btn")
    const inputElem = document.querySelector("#input")

    uploadBtn.addEventListener("click", (e) => {
      e.preventDefault()
      inputElem.click()
    })

    inputElem.addEventListener("change", async () => {
      if(!inputElem.files[0]) return 

      const formData = new FormData()
      formData.append("file", inputElem.files[0])

      fetch("http://localhost:4000/category/create/bulk", { method: "POST", data: formData })
      .then((req) => req.text())
      .then((res) => console.log(res))
      .catch(err => console.log(err))
    })
  </script>
{% endblock %}
