{% set title = "Product Ratings" %}
{% extends "_layout.html" %}

{% macro product_row(product) %}
<tr>
  <td>{{ product.get('name') }}</td>
  <td>{{ product.get('price') }}</td>
  <td>{{ product.get('quantity') }}</td>
  <td>{{ product.get('rating') }}</td>
  <td> <a class="collapse-item" href="product/{{product.get('product_id')}}">View Product</a></td>
</tr>
{% endmacro %}

{% block content %}
<div class="card shadow mb-4">
  <div class="card-header d-flex align-items-center justify-content-between py-3">
    <h6 class="m-0 font-weight-bold text-primary">Product Ratings</h6>
  </div>
  {% if products_with_ratings|length %}
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Average Rating</th>
            <th>Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Average Rating</th>
            <th>Action</th>
          </tr>
        </tfoot>
        <tbody>
          {# PRINT PRODUCT ROWS #}
          {% for product in products_with_ratings %}
            {{ product_row(product) }}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% else %}
  <div class="text-center py-5 ">
    <img src="/static/svgs/empty.svg" width="100" class="mx-auto img-fluid mb-5" />
    <p class="text-muted text-center mb-1">No products available</p>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
    <!-- Page level plugins -->
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<script>
  $(document).ready(function() {
    $('#dataTable').DataTable();
  });
</script>
{% endblock %}
