{% extends 'includes/Base.html' %}
{% block title%} Signin {% endblock title %}


{% block content %}
<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
    </div>
    <form class="user" method="post" action="{{ url_for('auth.handle_admin_sign_page') }}" enctype="multipart/form-data">
        <div class="form-group">
            <input type="text" class="form-control form-control-user" id="fullName" name="fullName" placeholder="Full name">
        </div>
        <div class="form-group">
            <input type="email" class="form-control form-control-user" id="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Password">
            </div>
            <div class="col-sm-6">
                <input type="password" class="form-control form-control-user" id="repeatPassword" placeholder="Repeat Password">
            </div>
            <div class="col-12">
                <small id="message" class="text-sm text-danger mt-1">passwords do not match</small>
            </div>
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file" id="profileImage" name="image">
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">Sign up</button>
    </form>
    <hr>
    <div class="text-center">
        <a class="small" href="{{ url_for('auth.login_page') }}">Already have an account? Login!</a>
    </div>
</div>

<script>
    const passwordInput = document.querySelector("#password")
    const message = document.querySelector("#message")
    const repeatPasswordInput = document.querySelector("#repeatPassword")

    message.style.display = "none"
    repeatPasswordInput.addEventListener("blur", () => {
        if(passwordInput.value !== repeatPasswordInput.value) {
            message.style.display = "block"
            passwordInput.classList.add("border", "border-danger")
            repeatPasswordInput.classList.add("border", "border-danger")
        }
        else {
            message.style.display = "none"
            passwordInput.classList.contains("border-danger") && passwordInput.classList.remove("border-danger")
            repeatPasswordInput.classList.contains("border-danger") && repeatPasswordInput.classList.remove("border-danger")
        }
    })
</script>

{% endblock content %}
    